<h1>Clase de Pipes</h1>
<hr>

<table class="table">
    <thead class="table-dark">

        <tr>
            <th>Entrada</th>
            <th>Pipe</th>
            <th>Salida</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{nombre2}}</td>
            <td>capitalizado</td>
            <td>{{nombre2 | capitalizado}}</td>
        </tr>
        <tr>
            <td>{{nombre}}</td>
            <td>uppercase</td>
            <td>{{nombre | uppercase}}</td>
        </tr>
        <tr>
            <td>{{nombre}}</td>
            <td>lowercase</td>
            <td>{{nombre | lowercase}}</td>
        </tr>
        <tr>
            <td>{{nombre}}</td>
            <td>slice 3</td>
            <td>{{nombre | slice:3}}</td>
        </tr>
        <tr>
            <td>{{nombre}}</td>
            <td>slice:1:5</td>
            <td>{{nombre | slice:1:5}}</td>
        </tr>
        <tr>
            <td>{{PI}}</td>
            <td>number:'1.0-0'</td>
            <td>{{PI | number:'1.0-0'}}</td>
        </tr>
        <tr>
            <td>{{PI}}</td>
            <td>number:'.0-6'</td>
            <td>{{PI | number:'.0-6'}}</td>
        </tr>
        <tr>
            <td>{{porcentaje}}</td>
            <td>percent</td>
            <td>{{porcentaje |percent}}</td>
        </tr>
        <tr>
            <td>{{porcentaje}}</td>
            <td>percent:'.2-2'</td>
            <td>{{porcentaje |percent:'.2-2'}}</td>
        </tr>
        <tr>
            <td>{{salario}}</td>
            <td>currency</td>
            <td>{{salario |currency}}</td>
        </tr>
        <tr>
            <td>{{salario}}</td>
            <td>currency</td>
            <td>{{salario |currency:'CAD$ ':'symbol'}}</td>
        </tr>
        <tr>
            <td>{{promesa}}</td>
            <td>promesa</td>
            <td>{{promesa | async}}</td>
        </tr>
        <tr>
            <td>{{fecha}}</td>
            <td>date</td>
            <td>{{fecha | date}}</td>
        </tr>
        <tr>
            <td>{{fecha}}</td>
            <td>date:'medium'</td>
            <td>{{fecha | date:'medium'}}</td>
        </tr>
        <tr>
            <td>{{fecha}}</td>
            <td>date:'short'</td>
            <td>{{fecha | date:'short'}}</td>
        </tr>
        <tr>
            <td>{{fecha}}</td>
            <td>
                date
                <br>
                <button (click)="cambiarEs()" class="mr1 btn btn-primary">Español</button>
                <button (click)="cambiarEn()" class="mr1 btn btn-secondary">Ingles</button>
                <button (click)="cambiarFr()" class="mr1 btn btn-dark">Frances</button>
            </td>
            <td>{{fecha | date:'MMMM - dd':'':idioma}}</td>
        </tr>
        <tr>
            <td>{{nombre}}</td>
            <td>
                contraseña:{{activo}}
                <br>
                <button (click)="activo = !activo" class="btn btn-outline-primary">Activar/Desactivar</button>
            </td>
            <td>{{nombre | activar:activo }}</td>
        </tr>

    </tbody>
</table>
<h3 class="m-5">JSON</h3>
<div class="row m-5">
    <div class="col ">
        <pre>
            {{heroe | json}}
        </pre>

    </div>

</div>
<div class="row ml-1">
    <div class="col">
        <iframe width="560" height="315" [src]="url | domseguro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>